#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #000;
  z-index: 1000;
  border-bottom: 1px solid #fff;
  .logo {
    width: 400px;
    font-size: 26px;
    padding: 10px;
    .icon {
      font-size: 40px;
      vertical-align: -10px;
      margin-right: 6px;
    }
  }
  .search {
    width: calc(100% - 400px);
    svg {
      vertical-align: bottom;
      width: 30px;
      height: 30px;
    }
    input {
      width: 70%;
      border: 0;
      border-radius: 3px;
      padding: 10px 20px;

      //   &::-webkit-input-placeholder {
      //     color: #fff;
      //   }
    }
  }
}

@media (max-width: 800px) {
  #header {
    flex-direction: column;
    .logo {
      width: 100%;
      font-size: 22px;
      .icon {
        font-size: 38px;
      }
    }
    .search {
      padding-bottom: 15px;
      width: 100%;
      input {
        width: 90%;
        margin-left: 5%;
      }
    }
  }
}
