body {
  background-color: #000;

}
#main {
  margin-top: 60px;
  display: flex;
  min-height: 100px;
  height: calc(100vh - 60px);
  overflow: hidden;
  #aside {
    // border-right: 1px solid #fff;
    width: 300px;
    &::-webkit-scrollbar-track {
      background: rgba(224, 235, 251, 0.662);
    }
    div {
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        height: 30%;
        background: #fdfdfd76;
        border-radius: 10px;
      }
      width: 100%;
      height: 100%;
      button {
        color: #fff;
        font-size: 18px;
        display: block;
        padding: 12px;
        width: 100%;
        text-align: left;
        &:hover {
          background-color: #646464;
        }
        .icon {
          vertical-align: -2px;
          margin-right: 5px;
        }
      }
    }
  }
  #search_contents {
    width: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      height: 30%;
      background: #fdfdfd76;
      border-radius: 10px;
    }
    h2 {
      color: #fff;
      padding: 20px 20px 0px 10px;
    }

    .videos__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px 10px 10px;

      div {
        margin-top: 10px;
        width: 24%;
        background-color: #fff;
        border-radius: 3px;
        img {
          object-fit: cover;
        }
        h3 {
          color: #000;
          font-weight: 500;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 5px 0;
          display: block;
          text-align: center;
        }
      }
    }
  }
  #contents {
    width: calc(100% - 300px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      height: 30%;
      background: #fdfdfd76;
      border-radius: 10px;
    }
    h2 {
      color: #fff;
      padding: 20px 20px 0px 10px;
    }

    .videos__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px 10px 10px;

      div {
        margin-top: 10px;
        width: 24%;
        background-color: #fff;
        border-radius: 3px;
        img {
          object-fit: cover;
        }
        h3 {
          color: #000;
          font-weight: 500;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 5px 0;
          display: block;
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  #main {
    #aside {
      width: 200px;
      div {
        button {
          padding: 10px;
          width: 100%;
          text-align: left;
        }
      }
    }
    #contents {
      width: calc(100% - 200px);
      .videos__inner {
        div {
          width: 32%;
          h3 {
            padding: 5px 0;
          }
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  #main {
    #contents {
      width: calc(100% - 200px);
      .videos__inner {
        div {
          width: 49%;
          h3 {
            padding: 5px 0;
          }
        }
      }
    }
  }
}
@media (max-width: 750px) {
  #main {
    #contents {
      width: calc(100% - 200px);
      .videos__inner {
        div {
          width: 100%;
          h3 {
            padding: 5px 0;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  #main {
    flex-wrap: wrap;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      height: 30%;
      background: #fdfdfd76;
      border-radius: 10px;
    }
    #aside {
      width: 100%;
      margin-top: 50px;
      &::-webkit-scrollbar-track {
        background: rgba(224, 235, 251, 0.662);
      }
      div {
        display: flex;
        overflow-x: scroll;
        &::-webkit-scrollbar {
          height: 7px;
        }
        &::-webkit-scrollbar-thumb {
          height: 30%;
          background: #fdfdfd76;
          border-radius: 10px;
        }
      }
    }
    #contents {
      width: 100%;
      // overflow-y: scroll;
      // &::-webkit-scrollbar {
      //   width: 5px;
      // }
      // &::-webkit-scrollbar-thumb {
      //   height: 30%;
      //   background: #fdfdfd76;
      //   border-radius: 10px;
      // }
      .videos__inner {
        width: 100%;
        div {
          width: 100%;
          h3 {
            padding: 5px 0;
          }
        }
      }
    }
  }
}
// VideoConts

.videoConts {
  background-color: #000;
  .container {
    .video__sub {
      display: flex;
      margin-top: 15px;
      padding: 61px 20px 0 20px;

      .videoConts_left {
        width: calc(100% - 300px);
        padding: 0 20px;
        .play {
          width: 100%;
          // background-color: #aaa;
          position: relative;
          padding-bottom: 27.65%;
          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
        .desc {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          padding-left: 20px;
          h3 {
            font-size: 28px;
            margin-top: 20px;
            color: #fff;
            width: 90%;
          }
          .channel {
            width: 10%;
            text-align: center;
            a {
              font-size: 28px;
              padding: 10px 0;
              display: block;
              border-radius: 5px;
              margin: 15px 0;
              background-color: #cbcbcb;
              color: #3c3737;
              font-weight: 700;

              &:hover {
              background-color: #3c3737;
              color: #cbcbcb;
              }
            }
          }
          .counts {
            margin-bottom: 10px;
            width: 100%;
            span {
              padding-right: 10px;
              color: #fff;
              text-align: right;
            }
          }
          .description {
            line-height: 1.4;
            margin-top: 20px;
            white-space: pre-line;
            text-align: justify;
            color: #fff;
          }
        }
      }
      .videoConts_right{
        width: 300px;
        height: 90vh;
        margin-right: 20px;

        overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: #fdfdfd76;
        border-radius: 10px;
      }
      }
    }
  }
}
